table, th, td {
    border: 0.5px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 10px;
  }
  table{
    width: 100%;
  }
  .segment{
     background-color: blue;
     color:white;
     font-size: 17px;
  }
  .num{
    width: 3% !important;
    font-size: 17px;
  }
  .text {
    width: 100%;
    text-align: left;
    padding: 3px;
  }
  .table-top{
    margin-top: 200px;
  }
  